# Arquivos de ambiente
.env

# Arquivos do editor de código e Sistema Operacional
.vscode

# Arquivos de modulo do node
node_modules/

# Arquivo package-lock.json
package-lock.json

# Arquivo vercel.json
vercel.json